div.gallery img {
  width: 100%;
  height: auto;
}

.responsive {
  width: 65%;
}

.ribbon {
  position: fixed;
  width: 15%;
  height: auto;
  right: 0px;
  bottom: 0px;
  padding-right: 10px;
  padding-bottom: 25px;
}

.custom-shape-divider-bottom-1615612475 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.custom-shape-divider-bottom-1615612475 svg {
  position: relative;
  display: block;
  width: calc(169% + 1.3px);
  height: 79px;
}

.custom-shape-divider-bottom-1615612475 .shape-fill {
  fill: #3f51b5c2;
}
